img {
    border-color: blue;
    border-width: 5px;
    border-radius: 5px;
}

h1 {
    color: orange;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 500;
}

h2 {
    color:pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
}

h3 {
    color:green;
    font-size: 18px;
}

.B {
    color: crimson;
    font-weight: 800;
}